fastapi[standard]
python-dotenv~=1.0.1
uvicorn
pinecone
snowflake-connector-python[pandas]
requests_html
yahoo_fin
langchain
langchain-community
snowflake-sqlalchemy
langchain-openai
langgraph
matplotlib
tavily-python
langgraph
langsmith
sentence_transformers
langchain-huggingface
langchain-pinecone
langchain-google-genai
langchain-experimental
python-dotenv
matplotlib